:root {
  --active-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* ====== SAME COMPONENTS ====== */
.web-color {
  color: var(--active-color);
}
ul {
  list-style-type: none;
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 30.52px;
}

/* ====== END SAME COMPONENTS ====== */

/* ====== HEADER ====== */

.header-list-item {
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 2%;
}

.header-list-item-link {
  color: #212121;
  text-decoration: none;
}
.header-list-item-link:hover,
.header-list-item-link:focus {
  color: var(--active-color);
}
.contact-list-item {
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  color: #757575;
  letter-spacing: 2%;
}
.contact-list-item-mail {
  color: #757575;
  text-decoration: none;
}
.contact-list-item-mail:hover,
.contact-list-item-mail:focus {
  color: var(--active-color);
}
.contact-list-item-phone {
  color: #757575;
  text-decoration: none;
}

/* ====== END HEADER ====== */

/* ====== MAIN SECTION ====== */
.main-section {
  background-color: #2f303a;
}
.main-section-title {
  color: #ffffff;
  text-align: center;
}
.main-section-btn {
  background-color: var(--active-color);
  color: #ffffff;
}
/* ====== END MAIN SECTION ====== */
