:root {
  --active-color: #2196f3;
}
body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

/* ====== SAME COMPONENTS ====== */
.web-color {
  color: var(--active-color);
}
.company-name {
  font-family: "Raleway", sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 30.52px;
  color: #000000;
}
.company-name-link {
  text-decoration: none;
}

/* ====== END SAME COMPONENTS ====== */

/* ====== HEADER ====== */

.header-list-item {
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 2%;
}

.header-list-item-link {
  color: #212121;
  text-decoration: none;
}
.header-list-item-link:hover,
.header-list-item-link:focus {
  color: var(--active-color);
}
.contact-list-item {
  text-decoration: none;
  font-style: 500;
  font-size: 14px;
  line-height: 1.143;
  color: #757575;
  letter-spacing: 2%;
}
.contact-list-item-mail {
  color: #757575;
  text-decoration: none;
}
.contact-list-item-mail:hover,
.contact-list-item-mail:focus {
  color: var(--active-color);
}
.contact-list-item-phone {
  color: #757575;
  text-decoration: none;
}

/* ====== END HEADER ====== */

/* ====== MAIN SECTION ====== */
.main-section {
  background-color: #2f303a;
}
.main-section-title {
  color: #ffffff;
  text-align: center;
}
.main-section-btn {
  background-color: var(--active-color);
  color: #ffffff;
}
/* ====== END MAIN SECTION ====== */

/* ====== ASSETS SECTION ====== */
.assets-section-list-header {
  font-style: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 3%;
}
.assets-section-list-description {
  font-style: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 3%;
  color: #757575;
}
/* ====== END ASSETS SECTION ====== */

/* ====== SERVICE SECTION ====== */
.service-header {
  font-style: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
/* ====== END SERVICE SECTION ====== */

/* ====== TEAM SECTION ====== */
.our-team-header {
  font-style: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}
.worker-name {
  font-style: 500;
  font-size: 16px;
  line-height: 1.188;
}
.job-name {
  font-style: 400;
  font-size: 16px;
  line-height: 1.188;
  color: #757575;
}
/* ====== END TEAM SECTION ====== */

/* ====== FOOTER SECTION ====== */

.footer-studio {
  color: #ffffff;
}
.footer-section {
  background-color: #2f303a;
}
.footer-section-address-description {
  font-style: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 3%;
  color: #ffffff;
}
.footer-section-address-mail,
.footer-section-address-phone {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 3%;
}
.footer-section-address-mail:hover,
.footer-section-address-mail:focus {
  color: var(--active-color);
}

/* ====== END FOOTER SECTION ====== */
